p {
  text-indent: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.lab {
  font-weight:bold;
}

.pos {
  font-style:italic;
  color:#666;
}

li {
  list-style-type: square;
}

.sen{
  margin-top: 8pt;
  margin-bottom: 8pt;
}

.ex{
  margin-top: 20pt;
}

.exh{
  font-weight: bold;
  margin-bottom: 8pt;
}

.overline{
  text-decoration: overline;
  font-size: 2rem;
}

.nopron{
  color: royalblue;
}
