p {
  text-indent: 0;
  margin: 0;
}

.lab {
  font-weight:bold;
}

.pos {
  font-style:italic;
  color:#666;
}

li {
  list-style-type: square;
}

.sen{
  margin-top: 8pt;
  margin-bottom: 8pt;
}

.ex{
  margin-top: 20pt;
}

.exh{
  font-weight: bold;
  margin-bottom: 8pt;
}

.h{
  text-decoration: overline;
}

.l{
  text-decoration: underline;
}

.nop{
  color: royalblue;
}

.nas{
  color: limegreen;
}
