name: build

on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 1 * *' # monthly

jobs:

  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check code Style
        uses: psf/black@stable
        with:
          options: "--check"
          src: "."
          version: "22.3.0"

  build:
    needs: black
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: apt-update
      run: sudo apt-get update -qq
    - name: apt-install
      run: sudo apt-get install -qq -y --no-install-recommends python3-cairo python3-pil python3-htmlmin
    - name: make
      run: make ISWSL=FALSE
      env:
        MAKEFLAGS: -j2
        PYTHON3: /usr/bin/python3
    - name: upload-artifact
      uses: actions/upload-artifact@v4
      with:
        name: mobi
        path: '*.mobi'

  build_windows:
    if: false  # XXX
    needs: black
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    #-----------------------------
    #Setup Windows and WSL
    #-----------------------------
    - uses: Vampire/setup-wsl@v6
      with:
        distribution: Ubuntu-24.04
        set-as-default: 'true'
        use-cache: 'true'
        additional-packages:
          make
          python3-cairo
          python3-pil
          python3-htmlmin
    #-----------------------------
    #donwload and install KindlePreviewer
    #-----------------------------
    - name: download Kindle Previewer
      run: Invoke-WebRequest -Uri "https://d2bzeorukaqrvt.cloudfront.net/KindlePreviewerInstaller.exe" -OutFile ".\KindlePreviewerInstaller.exe"
    - name: install Kindle Previewer
      run: Start-Process -FilePath ".\KindlePreviewerInstaller.exe" -ArgumentList "/S" -Wait
    - name: Add Kindle Previewer to PATH
      run: echo "$env:APPDATA\Amazon" >> $env:GITHUB_PATH
    #-----------------------------
    #Make the dictionaries on Windows
    #-----------------------------
    - name: make windows
      shell: wsl-bash {0}
      run: make ISWSL=TRUE
      env:
        MAKEFLAGS: -j2
        PYTHON3: /usr/bin/python3
    - name: Print conversion logs
      if: always()
      shell: wsl-bash {0}
      run: more ./out/*.csv ./out/logs/*.csv ./out/mobi/*.csv 2>/dev/null | cat
    - name: upload-artifact windows
      uses: actions/upload-artifact@v4
      with:
        name: mobi_windows
        path: '*.mobi'

  # See https://github.com/actions/upload-release-asset
  release:
    # https://github.community/t/trigger-job-on-tag-push-only/18076/2
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      id: download
      with:
        name: mobi
        path: artifacts
    - run: ls -lR ${{ steps.download.outputs.download-path }}
    - name: create release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: >
        gh release create --draft --title "${{ github.ref_name }}" --generate-notes "${{ github.ref_name }}"
        ${{ steps.download.outputs.download-path }}/jmdict.mobi
        ${{ steps.download.outputs.download-path }}/jmnedict.mobi
        ${{ steps.download.outputs.download-path }}/combined.mobi
